.search-container{
    display: flex;
    justify-content: center;
    margin:10px;
}
.search-input{
    padding:8px 18px;
    font-size: 15px;
    width:300px;
    border-width: 0px;
    background-color: #a592f2;
    color:blueviolet;
    border-radius:50px;
    box-shadow: 0 0 5px white;
}
.search-input::placeholder{
    color:cornsilk;

}

.search-input:focus{
    outline:none;
   
}